body {
}

.centerChildren {
  text-align: center;
}

.header {
  font-size: 60px;
  font-family: monospace;
  color:#87CEFA;
  background-image: url("headerbg.gif");
  height: 200px;
}

#headerText {
  padding-top: 40px;
}

#addEntryBtn {
  width: 100px;
  height: 40px;
  background-color: #000080;
  color: white;
  font-size: 15px;
  font-weight: 200;
  font-family: monospace;
}

#blogEntryContainer {
  padding-top: 30px;
  padding-bottom: 40px;
}

#blogEntryText {
  height: 100px;
  width: 600px;
  font-size: 15px;
  font-family: monospace;
}

#blogEntryName {
  width: 600px;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: monospace;
}

#blogDetails {
  width: 800px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: monospace;
}

.blogEntry {
  margin-bottom: 5px;
  font-size: 20px;
  color: #191970;
  font-family: monospace;
}

.blogDate {
  margin-bottom: 20px;
  font-size: 15px;
  color: #191970;
  font-family: monospace;
}

#blogBody {
  background-image: url("simba.gif");
  height: 100%;
  border-top
}

#blogBodyInner {
  width: 70%;
  margin: 0 auto;
  background-color: #87CEFA;
  height: 100%;
}
