body {
}

.centerChildren {
  text-align: center;
}

.header {
  font-size: 60px;
  font-family: "Trebuchet MS";
  color:#000080;
  background-color:#9999FF;
  height: 99px;
}

#headerText {
  padding-top: 40px;
}

#addTaskBtn {
  width: 100px;
  height: 30px;
  background-color: #000080;
  color: white;
  font-size: 15px;
  font-weight: 200;
  font-family: "Trebuchet MS";
}


#taskEntryContainer {
  padding-top: 30px;
  padding-bottom: 40px;
}

#taskEntryText {
  height: 40px;
  width: 42%;
  font-size: 15px;
  font-family: "Trebuchet MS";
  border:2px solid #000080;
}

#taskDetails {
  width: 800px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Trebuchet MS";
  color: #000080;
  font-size: 30px;
}

.taskEntry {
  margin-bottom: 5px;
  font-size: 20px;
  color: #191970;
  font-family: "Trebuchet MS";
}

#taskBody {
  background-color:#9999FF;
  height: 100%;
}

#taskBodyInner {
  width: 60%;
  margin: 0 auto;
  background-color: #7272ff;
  height: 100%;
  border: 3px dotted #000080;
}
